body {
  font-family: 'Calibri';
  font-size: 16px;

}

img {
  width: 80%;
  height: 80%;
}

h1 {
  font-family: 'Franklin Gothic Medium';
  font-size: 48px;
  color: #C8133A;
}

h2 {
  font-size: 30px;
  color: #C8133A;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
  color: #C8133A;
}

.company {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: #C8133A;
}

.job {
  font-weight: bold;
  font-size: 16px;
}

.circle {
  border-radius: 50%;
}

.navi {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  transition: background-color 0.5s;
  text-decoration: none;
}

.navi:visited {
  border: 2px solid #C8133A;
}

.navi:hover {
  background-color: #C8133A;
  color: #ffffff;
  border-color: black;
}

.tags {
  border: 1px solid #C8133A;
  padding: 5px 10px;
  color: #C8133A;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 2px;
}

.tagss span {
  border: 1px solid #C8133A;
  padding: 5px 10px;
  color: #C8133A;
  border-radius: 8px;
  font-size: 14px;
  display: inline-block;
  margin: 2px;
}

a {
  color: black;
  transition: ease-in 1s;
}

a:hover {
  color: #C8133A;
}

.linki {
  font-family: 'Calibri';
  font-size: 15px;
}

.top-hero {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border: 3px solid rgba(255, 255, 255);
}

.top-container {
  background: url('images/background.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.color {
  background-color: #CADEE5;
}

header address img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}